footer {
    height: 90px;
    background: $black-light;
    color: $gray;

    .footer-container {
        @include flexSpaceBetween;
        max-width: 1440px;
        height: 100%;
        margin: 0 auto;

        @media (max-width: 1500px) {
            padding: 0px 20px;
        }

        .contact {
            display: flex;
            gap: 27px;

            .fa-brands,
            .fa-brands {
                color: $white;
                font-size: 24px;
            }

            .fa-brands.light,
            .fa-brands.light {
                color: $black-light;
            }
        }
    }
}

footer.light {
    background: $gray-light;
    color: $black-light;
    border-top: 2px solid $gray-light;
}