footer {
    height: 90px;
    background: $black-light;
    color: $gray;

    .footer-container {
        @include flexSpaceBetween;
        max-width: 1440px;
        height: 100%;
        margin: 0 auto;

        @media (max-width: 1440px) {
            padding: 0px 15px 0px 15px;
        }

        .contact {
            display: flex;
            gap: 27px;

            svg path {
                stroke: $white;
            }

            svg path.light {
                stroke: $black-light;
            }
        }
    }
}

footer.light {
    background: $white;
    color: $black-light;
    border-top: 2px solid $gray-light;
}