@mixin flexSpaceBetween(){
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    height: 90px;
    border-bottom: 2px solid $black-light;
    color: $white;

    .header-container {
        @include flexSpaceBetween;
        max-width: 1440px;
        height: 100%;
        margin: 0 auto;

        @media (max-width: 1440px) {
            padding: 0px 15px 0px 15px;
        }

        .mode-toggle {
            cursor: pointer;

            #moon {
                display: none;
            }

            #sun {
                display: block;
            }
        }

        .mode-toggle.active {

            #moon {
                display: block;
            }

            #sun {
                display: none;
            }
        }
    }
}

header.light {
    border-bottom: 2px solid $gray-light;
    color: $black-light;
}




