h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 29px;
}

h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
}

a {
    text-decoration: none;
}